<section class="menu">
	<ul>
		<li>
			<a href="{{ '/' | relative_url }}" title="Go to Home Page">Home</a>
		</li>
		<li>
			<a href="{{ '/tools' | relative_url }}" title="Go to Tools of the Trade">Tools of the Trade</a>
		</li>
		<li>
			<a href="{{ '/publications' | relative_url }}" title="Go to Publications">Security Publications</a>
		</li>
		<li>
			<a href="{{ '/faq' | relative_url }}" title="Go to F.A.Q.">Frequently Asked Questions</a>
		</li>
	</ul>
</section>
<script>
	var menuIterator = document.evaluate('//section[@class="menu"]//a', document)
	try {
		var menuEntry = menuIterator.iterateNext()
		while (menuEntry)
			if (menuEntry.href == '{{ page.url }}')
				menuEntry.parentNode.style = 'display: none'
	} catch (e) {
		// Old browsers which don't support the new DOM hotness will fail to remove the current page from the menu, but that's okay.
	}
</script>
