<section class="menu">
	<ul>
		<li>
			<a href="{{ '/' | relative_url }}" title="Go to Home Page">Home</a>
		</li>
		<li>
			<a href="{{ '/tools' | relative_url }}" title="Go to Tools of the Trade">Tools of the Trade</a>
		</li>
		<li>
			<a href="{{ '/publications' | relative_url }}" title="Go to Publications">Security Publications</a>
		</li>
		<li>
			<a href="{{ '/faq' | relative_url }}" title="Go to F.A.Q.">Frequently Asked Questions</a>
		</li>
	</ul>
</section>
<script>
	window.onload = function() {
		var menuIterator = document.evaluate('//section[@class="menu"]//a', document)
		try {
			// hide any menu items that refer to the current URL
			while (menuEntry = menuIterator.iterateNext())
				if (menuEntry.href == '{{ page.url }}')
					menuEntry.parentNode.style = 'display: none'
		} catch (e) {
			// ignore errors from old browsers that can't handle this DOM hotness
		}
	}
</script>
